
.main-content {
    
    background-color: $background-color;
    width: 80%;
    margin: 0 auto;


    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    p {
        text-align: left;
    }
}





#what-we-do, #mission, #story, #why-choose-us {
    margin-bottom: 20px;
    padding: 20px;
}

.ceo {
    background-color: $background-color;
    padding: 40px;
    width: 100%;

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    h3 {
        color: $neutral-text-color;
    }

    .ceo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ceo-image {
        img {
            width: 200px;
            border-radius: 5%;
        }
    }

    .ceo-info {
        padding: 20px;
        margin-left: 20px;
        text-align: left;

        h2,
        p {
            margin: 10px 0;
        }

        .contact-buttons {
            display: flex;
            align-items: flex-start; 
            gap: 10px;

            .contact-button {
                padding: 10px 20px;
                background-color: $primary-accent-color;
                color: $button-text-color;
                text-decoration: none;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
                font-size: 1rem;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $primary-accent-color-hover
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .ceo-content {
        flex-direction: column;
    }

    .ceo-image,
    .ceo-info {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            justify-content: center;
            align-items: center;
            
        }
    }

    .contact-buttons {
        flex-direction: row; 
        align-items: center;
    }
}





.meet-our-team {
    text-align: center;
    margin: 0px 0 20px 0;
    background-color: $background-color;
    padding: 40px;

    h2 {
        margin-bottom: 40px;
    }
}


.team-members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px; 
    justify-items: center;
    justify-content: space-evenly;
  
    .team-members__person {
      max-width: 250px;
      text-align: center;
  
      img {
        width: 100%; 
        max-height: 200px; 
        object-fit: cover; 
        border-radius: 5%;
        aspect-ratio: 1.5/1;
      }
  
      h3, p {
        margin: 10px 0;
      }
  
      .team-members__person-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px; 
        overflow: hidden;
      }
  
      .contact-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

  
        .contact-button {
          padding: 10px 20px;
          background-color: $primary-accent-color;
          color: $button-text-color;
          text-decoration: none;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          text-align: center;
          font-size: 1rem;
          transition: background-color 0.3s;
          margin-top: 20px;
  
          &:hover {
            background-color: $primary-accent-color-hover
          }
        }
      }
    }
  }