.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 30px;

  
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0 10px 40px 10px;
  
      label {
        font-size: 1rem;
        font-weight: bold;
      }
  
      input, textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
  
        &:focus {
          border-color: $primary-accent-color;
        }
      }
  
      textarea {
        height: 150px;
      }
  
      .submit-button {
        background-color: $primary-accent-color;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: $primary-accent-color-hover;
        }
      }
    }
  }