.event-page {
    max-width: 100%;
    min-height: 100%;
    margin: 68px auto 60px 0;
    padding: 20px;
    background-color: $background-color;
    border-radius: 5px;
  
   
  
    .event-page__main {
      display: flex;
      gap: 20px;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      @media screen and (max-width: 768px){
        flex-direction: column;
      }
    }
  
    .event-page__main-image {
      display: flex;
      flex-direction: column;
      max-width: 60%;
      margin-right: 20px;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }
  
    .event-page__details {
      flex: 1;
      font-size: 16px;
      color: $text-color;
      margin: 0;
      max-width: 60%;

      
  
    }
  
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 0 5px 0;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    h4 {
      margin-bottom: 0;
    }
  
    .event-page__image-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;

      @media screen and (max-width: 768px) {
        justify-content: center;
        
      }
  
      img {
        height: 200px;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

.event-page__image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2;
}

.event-page__image-modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    margin-top: 10%;

    @media screen and (max-width: 768px) {
      margin-top: 50%;
    }
}

.event-page__image-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
@media screen and (max-width: 768px) {
  top: 23%;
  right: 5%;
}

}