// Define font families
$primary-heading-font: 'Montserrat', sans-serif;
$secondary-heading-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;
$nav-font: 'Lato', sans-serif;

// Define color variables
// $primary-accent-color: #235ac7; 
// $secondary-accent-color: #f4c2d3;
// $background-color: #fefbfc;
// $text-color: #1e050e;
// $link-color: #00adb5;
// $neutral-background-color: #f7f7f7;
// $neutral-text-color: #000000;

$primary-accent-color: #007BFF; 
$secondary-accent-color: #FF8A9A; 
$background-color: #EFF5F7; 
$text-color: #1e050e; 
$link-color: #FFA300; 
$neutral-background-color: #f7f7f7; 
$neutral-text-color: #000000; 
$event-location-color: #555; 
$button-text-color: #fff;
$border-button-color: #eae3e3;
$primary-accent-color-hover: darken($primary-accent-color, 10%);





// Define font sizes in rem units
$base-font-size: 16px; // Set your base font size

$primary-heading-size: 2rem; // Example primary heading font size
$secondary-heading-size: 1.5rem; // Example secondary heading font size
$body-font-size: 1rem; // Example body font size
$nav-font-size: 1.125rem; // Example navigation font size

// Apply font and color styles to elements
body {
    font-family: $body-font;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $text-color;
    background-color: $background-color;
}

h1 {
    font-family: $primary-heading-font;
    font-size: $primary-heading-size;
    font-weight: bold;
    color: $primary-accent-color; 
}

h2, h3 {
    font-family: $secondary-heading-font;
    font-size: $secondary-heading-size;
    font-weight: bold;
    color: $secondary-accent-color;
}

p {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $text-color;
}

nav {
    font-family: $nav-font;
    font-size: $nav-font-size;
    color: $link-color;
}

a {
    color: $link-color;
    &:hover {
        color: darken($link-color, 10%);
    }
}