@import 'resets';
@import 'fonts';
@import 'event';
@import 'about';
@import 'contact';
@import 'my-account';


.main-header {
    position: relative;
  
    .main-header__header-img {
      & img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }
  
    .main-header__navbar {
      height: 68px;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 20px;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #235ac7;

      .main-header__navbar {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
  
      .main-header__navbar-list {
        display: flex;
        justify-content: right;
        list-style: none;
        gap: 40px;
        align-items: center;
        font-size: $nav-font-size;
        
  
        li {
          transition: color 0.3s, border-color 0.3s;
          position: relative;
          display: inline-block;
  
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $primary-accent-color;
            transform: translateX(-50%);
            transition: width 0.3s;
          }
  
          &:hover {
            color: $primary-accent-color;
  
            &::after {
              width: 100%;
            }
          }
        }
      }
  
      .main-header__navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 100px;
  
        & img {
          width: 60px;
          height: auto;
        }
      }
    }
  }

.main-header__navbar-login {
  img {
    width: 30px;
    height: auto;
  }
}
 


  .event-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

// Style the "Upcoming Events" heading
.event-heading {
    text-align: center;
    font-size: 24px;
    // color: $primary-color;
    margin-bottom: 40px;
}

// Style the event grid
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  // grid-gap: $event-card-spacing;

  .event-card {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 0 0 20px 0;
      border-radius: 8px;
      text-align: center;
      transition: transform 0.2s ease-in-out;
      max-width: 300px;
      overflow: hidden;
      display: flex;
      flex-direction: column; /* Adjust the flex direction to stack elements vertically */
      align-items: center; /* Center elements horizontally */
      align-self: stretch;

      img {
          max-width: 100%;
          height: 200px;
          margin-bottom: 10px;
      }

      .event-details {
        padding: 0 10px 0 10px;
          display: flex;
          flex-direction: row; /* Layout date and info side by side */
          align-items: flex-start; /* Align elements to the top */

          .event-date {
              display: flex;
              flex-direction: column; /* Stack date elements vertically */
              align-items: center; /* Center date horizontally */
              margin-right: 10px; /* Add some spacing between date and info */

              .day {
                  font-size: 24px;
                  font-weight: bold;
                  margin: 0 5px 0 0;
                  padding: 0;
                  color: #235ac7;
              }

              .month {
                  font-size: 18px;
                  margin: 0;
                  padding: 0;
              }
          }

          .event-info {
              flex-grow: 1; /* Allow info to grow and take remaining space */

              .event-title {
                  font-size: 1.2rem;
                  font-weight: bold;
                  margin: 0;
                  text-align: center;
                  height: 50px;
                  margin-bottom: 10px;
                  align-content: center;
                  justify-content: center;
                  
              }

              .event-location {
                  font-size: 14px;
                  color: #555;
                  margin: 5px 0;
              }

              .event-description {
                  font-size: 14px;
                  margin-top: 10px;
                  text-align: left;

              }

              

              .event-description.hidden {
                display: none;
              }
              
          }
      }

      &:hover {
          transform: scale(1.05);
      }
  }
}


.category-buttons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  z-index: 2;
  
  
  

  .category-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s;

    
    

    &:hover {
      background-color: #0056b3;
    }
  }
}

/* Style for Show More link */
.event-show-more {
  text-align: left;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


.footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 68px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & img {
    width: 25px;
    height: auto;
  }
}
  .footer__text {
    text-align: center;
  }


  