@import 'resets';
@import 'fonts';
@import '_darkmode';


$nav-link-color: #007bff;  

body {
    background-image: url(/assets/0243.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.main-header {
position: relative;


.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 50px 0;
    padding: 20px;
    align-items: center;
    position: absolute;
}

    .navbar__logo img {
    width: 70px;
    display: flex;
    left: 0;
    margin: 0 0 0 150px;
    }

    .navbar__list {
        display: flex;
        justify-content: right;
        list-style: none;
        margin: 0 150px 0 0;
        gap: 50px;
        padding: 20px;
        align-items: center;

        li {
            transition: color 0.3s;
            position: relative;
            display: inline-block;
            transition: border-color 0.3s;

            &::after {
                content: ''; /* Create a pseudo-element */
                position: absolute;
                bottom: 0; /* Position the underline at the bottom */
                left: 50%; /* Start from the middle horizontally */
                width: 0; /* Initially, set the width to 0 (hidden) */
                height: 2px; /* Adjust the underline thickness as needed */
                background-color: $primary-accent-color; /* Underline color */
                transform: translateX(-50%); /* Center the underline and hide it to the left */
                transition: width 0.3s; /* Add a transition for width */
            }
    
            &:hover {
                color: $primary-accent-color; /* Change text color on hover */
    
                &::after {
                    width: 100%; /* Expand the underline to full width on hover */
                }
            }
        }
    }
    
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    border: #007bff 2px solid;
    border-radius: 1rem;

    .main-content__portfolio {
        margin-bottom: 30px;
        
        a {
            position: relative;
            text-decoration: none;
            color: #333; /* Text color */
            transition: color 0.3s; /* Add a color transition */
            padding-right: 10px;
    
            &::after {
                content: '';
                position: absolute;
                width: 0; /* Initial width set to 0 */
                height: 2px; /* Underline height */
                bottom: -3px; /* Position the underline below the text */
                left: 0;
                background-color: $link-color; /* Underline color */
                animation: moveUnderline 3.5s linear infinite; /* Animation for moving the underline */
            }
    
            &::before {
                content: '\f061'; /* Font Awesome arrow-right icon code */
                font-family: FontAwesome; /* Set FontAwesome as the font-family */
                margin-left: 5px; /* Adjust spacing between text and icon */
                font-size: 16px; /* Adjust the size of the icon */
                opacity: 0; /* Initially hidden */
                transition: opacity 0.3s; /* Add opacity transition */
            }
    
            &:hover {
                color: $link-color; /* Text color on hover */
    
                &::after {
                    width: 100%; /* Expand the underline to cover the text on hover */
                }
    
                &::before {
                    opacity: 1; /* Show the arrow on hover */
                }
            }
        }
    }
    
    @keyframes moveUnderline {
        0% {
            width: 0; /* Start with no underline (left to right) */
            transform: translateX(0); /* Reset position to left */
        }
        50% {
            width: 100%; /* Full underline (left to right) */
            transform: translateX(0); /* Keep position at left */
        }
        51% {
            width: 100%; /* Full underline (left to right) */
            transform: translateX(0); /* Keep position at left */
        }
        100% {
            width: 0; /* Hide underline (right to left) */
            transform: translateX(0); /* Reset position to left */
        }
    }

    .main-content__socials {
        display: flex;
        flex-direction: row;
        gap: 10px;

        
    }

    a :hover {
        transform: scale(1.1);
        transition: transform 0.5s;

    }

    &__socials img {
        width: 25px;
        
    }
}

